[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SelectionBias"]
	path = SelectionBias
	url = https://github.com/stizet/selectionbias
